header {
  display: flex; /* Utilisation du modèle flexbox */
  justify-content: space-between; /* Sépare les éléments à gauche et à droite */
  align-items: center; /* Si tu veux centrer verticalement le contenu */
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-wrap: wrap;
  font-size: 16px;
}
#totalNotif {
  display: flex;
}
#nbNotif {
  background-color: hsl(219, 85%, 26%);
  color: white;
  padding: 2px;
  width: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
body {
  margin: 5% 30%;
  display: flex;
  flex-direction: column;
  background-color: hsl(211, 68%, 94%);
  font-family: "Plus Jakarta Sans", sans-serif;
}
.activeNotif {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: darkred;
}
a {
  text-decoration: none;
  color: black;
}
section {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  gap: 10px;
}
.notif {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-radius: 10px;
}
section img {
  height: 45px;
  width: 45px;
}
.messCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.unRead {
  background-color: hsl(210, 60%, 98%);
}
.notif img {
  padding: 5px;
}
p {
  margin: 0;
}
#message {
  display: flex;
  background-color: white;
  padding: 5px;
  justify-content: flex-end;
  border-radius: 10px;
}
#picture {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
@media screen and (max-width: 425px) {
  body {
    font-size: 8px;
    background-color: pink;
    margin: 1% 10%;
  }
}
