/* Frontend Mentor | Notifications page */
/* ------------------------------------ */
/* RESET */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px; /* Taille par défaut pour le texte */
  line-height: 1.5; /* Bonne lisibilité */
  color: hsl(224, 21%, 14%); /* Texte principal en bleu très foncé */
  background-color: var(--very-light-grayish-blue); /* Couleur de fond */
  color: var(--very-dark-blue); /* Texte principal */
}
