body {
    background-color: hsl(210, 60%, 98%);
    font-family: "Plus Jakarta Sans", sans-serif;
}

p {
    font-size: 15px;
    line-height: 0.6;
}

a {
    text-decoration: none;
}

a:hover {
    color: hsl(219, 12%, 42%);
}

h1 {
    font-size: 25px;
    font-weight: 700;
}

section {
    margin : auto;
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message {
    background-color: hsl(211, 68%, 94%);
    display: flex;
    margin-top: 10px;
    border-radius: 8px;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

div.private-message p {
    line-height: 1.4;
}

.icon {
    height: 50px;
    margin: 15px;
}

.private-message {
    border : 2px solid hsl(205, 33%, 90%);
    width: 85%;
    margin-left: auto;
    padding: 2px 15px 2px 15px;
    border-radius: 8px;
}

.private-message:hover {
    background-color: hsl(205, 33%, 90%);
    border:2px solid hsl(205, 33%, 90%);
}

.picture{
    margin-left: auto;
    flex-wrap: wrap;
}

.time{
    font-weight: 100;
    color: hsl(219, 12%, 42%);
    margin-top: auto;
}

article.home button {
    background-color: hsl(0, 0%, 100%);
    font-size : 16px;
    color: hsl(219, 12%, 42%);
    height: 30px;
    border: none;
}

article.home button:hover{
    color: hsl(224, 21%, 14%);
    cursor: pointer;
}

.numberOfNotifications {
    border-radius: 5px;
    height: 25px;
    width: 30px;
    background-color: hsl(218, 82%, 24%);
    margin: 10px;
    color: white;
    text-align: center;
    font-weight: 800;
}

.homeLeft {
    display: flex;
    align-items: center;
}

.redPoint {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: hsl(1, 90%, 64%);
    margin-left: 5px;
}

.textAndRedPoint {
    display: flex;
    align-items: center;
}

@media (max-width: 350px) {
    p {
        line-height: 1;
    }

    .picture{
        margin-left: 250px;
    }

    section {
        width: 100%;
        margin: 0px;
    }
}