:root {
    --section-color: hsl(0, 0%, 100%);
    --body-color: hsl(210, 60%, 98%);
    --comment-color: hsl(211, 68%, 94%);
    --shadow-color: hsl(205, 33%, 90%);
    --text2-color: hsl(219, 14%, 63%);
    --text-color: hsl(219, 12%, 42%);
    --darkBlue-color: hsl(224, 21%, 14%);
    --dot-color: hsl(1, 90%, 64%);
    --blue-color: hsl(219, 85%, 26%);
}

@font-face {
    font-family: "Plus Jakarta Sans", sans-serif;
    src:local("fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

body {
    background-color: var(--body-color);
    font-family: "Plus Jakarta Sans", sans-serif;
}

section {
    background-color: var(--section-color);
    margin: 50px 25vw 0 25vw;
    border-radius: 20px;
    padding: 40px 40px 0 40px;
    box-shadow: 10px 10px 10px var(--shadow-color);
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}

.not-title {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-bottom: 20px;
}

h2 {
    margin: auto 0px auto 0px;
}

#not-counter {
    background-color: var(--blue-color);
    font-weight: bolder;
    color: var(--section-color);
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}

button {
    border: 0px;
    background-color: var(--section-color);
    color: var(--text-color);
    margin: auto 0px auto 0px;
    padding: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 400;
}

button:hover {
    font-weight: bolder;
    color: var(--blue-color)
    cursor: grab;
}

.not, .not-with-comment, .not-with-img {
    background-color: var(--body-color);
    box-shadow: 1px 1px 3px var(--shadow-color);
    display: grid;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 10px;
}

.not, .not-with-comment {
    grid-template-columns: 60px auto;
}

.not-with-img{
    grid-template-columns: 60px auto 60px;
}

.not-img-id {
    width: 100%;
    height: auto;
    grid-column: 1;
    grid-row: 1/2;
    margin: auto;
}

.not-main {
    grid-column: 2;
    grid-row: 1;
    margin-left: 20px;
}

.not-msg {
    display: flex;
}

.not-msg p {
    margin: 0px 10px 0px 0px;
    color: var(--text-color);
}

.not-dot {
    background-color: var(--dot-color);
    width: 10px;
    height: 10px;
    margin: auto 0px auto 0px;
    border-radius: 10px;
}

.not-time {
    margin: 5px 10px 0px 0px;
    color: var(--text2-color)
}

.not-comment {
    grid-column: 2;
    grid-row: 2;
    color: var(--text-color);
    background-color: var(--body-color);
    border: 1px solid var(--text2-color);
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 15px;
}

.not-comment:hover {
    border: 0px;
    cursor: grab;
    background-color: var(--comment-color);
}

.not-with-comment .not-img-id {
    width: 100%;
    height: auto;
    grid-column: 1;
    grid-row: 1/2;
    margin: 0px auto auto auto;
}

.not-img-post {
    grid-column: 3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

.not-img-post img {
    width: 100%;
    height: auto;
    margin: 0px auto auto auto;
}